* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

body {
	height: 100%;   
	/* overflow: hidden; */
  background-color: var(--background-default) !important;
}

:root {
  --avatar-placeholder-background: #6a7175;
  --avatar-placeholder-primary: #cfd4d6;
  --chat-meta: #8696a0;
  --background-default: #111b21;
  --background-default-hover: #202c33;
  --border-list: rgba(134,150,160,0.15);
	--bubble-meta: hsla(0,0%,100%,0.6);
	--conversation-panel-background: #0b141a;
  --compose-panel-background: #202c33;
	--icon: #8696a0;
  --incoming-background: #202c33;
	--intro-secondary: #8696a0;
	--message-primary: #e9edef;
	--outgoing-background: #005c4b;
  --panel-header-icon: #aebac1;
  --panel-header-background: #202c33;
	--primary-title: rgba(233,237,239,0.88);
  --shadow-rgb: 11,20,26;
  --secondary: #8696a0;

}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background-color: initial;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.16);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255, 255, 255, 0.20);
}


.Toastify__toast {
  border-radius: var(--chakra-radii-md) !important;
  margin-bottom: 3px !important;
	opacity: 0.85;
	font-size: var(--chakra-fontSizes-sm);
	background-color: var(--background-default) !important;
}

.Toastify__toast-container {
  text-align: center;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
