* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

body {
	height: 100%;   
	/* overflow: hidden; */
  color: var(--primary-default);
  /* background-color: var(--background-default); */
}

:root {
  --scrollbar-track-bg: #e0e0e0;
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.24);
  --scrollbar-thumb_hover-bg: #718096;

	--active-tab-marker: #00a884;
  --active-tab-marker-rgb: 0,168,132;
  --app-background: #0a1014;
  --app-background-rgb: 10,16,20;
  --app-background-deeper: #0a1014;
  --app-background-deeper-rgb: 10,16,20;
  --app-background-stripe: transparent;
  --app-background-stripe-rgb: 0,0,0;
  --attach-media-drop-border: rgba(233,237,239,0.2);
  --attach-media-drop-border-rgb: 233,237,239;
  --attach-media-drop-overlay: rgba(52,70,81,0.3);
  --attach-media-drop-overlay-rgb: 52,70,81;
  --audio-control-incoming: #848488;
  --audio-control-incoming-rgb: 132,132,136;
  --audio-control-outgoing: #d1d7db;
  --audio-control-outgoing-rgb: 209,215,219;
  --audio-progress-incoming: #63cb77;
  --audio-progress-incoming-rgb: 99,203,119;
  --audio-progress-outgoing: #599389;
  --audio-progress-outgoing-rgb: 89,147,137;
  --audio-progress-played-incoming: #49a1c8;
  --audio-progress-played-incoming-rgb: 73,161,200;
  --audio-progress-played-outgoing: #43abcd;
  --audio-progress-played-outgoing-rgb: 67,171,205;
  --audio-progress-metadata: hsla(0,0%,100%,0.6);
  --audio-progress-metadata-rgb: 255,255,255;
  --audio-track-incoming: #343f46;
  --audio-track-incoming-rgb: 52,63,70;
  --audio-track-outgoing: #176b5b;
  --audio-track-outgoing-rgb: 23,107,91;
  --avatar-background: #111b21;
  --avatar-background-rgb: 17,27,33;
  --avatar-border: #aebac1;
  --avatar-border-rgb: 174,186,193;
  --avatar-placeholder-background: #6a7175;
  --avatar-placeholder-background-rgb: 106,113,117;
  --avatar-placeholder-primary: #cfd4d6;
  --avatar-placeholder-primary-rgb: 207,212,214;
  --archived-chat-marker: #aebac1;
  --archived-chat-marker-rgb: 174,186,193;
  --archived-chat-marker-border: #2a3942;
  --archived-chat-marker-border-rgb: 42,57,66;
  --archived-chat-marker-background: #2a3942;
  --archived-chat-marker-background-rgb: 42,57,66;
  --background-default: #111b21;
  --background-default-rgb: 17,27,33;
  --background-default-active: #2a3942;
  --background-default-active-rgb: 42,57,66;
  --background-default-hover: #202c33;
  --background-default-hover-rgb: 32,44,51;
  --badge-border: #d1d7db;
  --badge-border-rgb: 209,215,219;
  --badge-pending: #008069;
  --badge-pending-rgb: 0,128,105;
  --beta-tag-background: #364147;
  --beta-tag-background-rgb: 54,65,71;
  --border-bubble: rgba(233,237,239,0.12);
  --border-bubble-rgb: 233,237,239;
  --border-deeper: rgba(134,150,160,0.15);
  --border-deeper-rgb: 134,150,160;
  --border-default: rgba(134,150,160,0.15);
  --border-default-rgb: 134,150,160;
  --border-list: rgba(134,150,160,0.15);
  --border-list-rgb: 134,150,160;
  --border-panel: rgba(134,150,160,0.15);
  --border-panel-rgb: 134,150,160;
  --border-strong: rgba(134,150,160,0.15);
  --border-strong-rgb: 134,150,160;
  --border-stronger: rgba(134,150,160,0.15);
  --border-stronger-rgb: 134,150,160;
  --bubble-meta: hsla(0,0%,100%,0.6);
  --bubble-meta-rgb: 255,255,255;
  --bubble-meta-icon: hsla(0,0%,100%,0.5);
  --bubble-meta-icon-rgb: 255,255,255;
  --business-name-title: #d1d7db;
  --business-name-title-rgb: 209,215,219;
  --business-name-subtitle: #aebac1;
  --business-name-subtitle-rgb: 174,186,193;
  --butterbar-default-background: #182229;
  --butterbar-default-background-rgb: 24,34,41;
  --butterbar-icon: #aebac1;
  --butterbar-icon-rgb: 174,186,193;
  --butterbar-icon-dismiss: #8696a0;
  --butterbar-icon-dismiss-rgb: 134,150,160;
  --butterbar-primary: #e9edef;
  --butterbar-primary-rgb: 233,237,239;
  --butterbar-secondary: #8696a0;
  --butterbar-secondary-rgb: 134,150,160;
  --butterbar-battery-background: #182229;
  --butterbar-battery-background-rgb: 24,34,41;
  --butterbar-battery-icon: #f15c6d;
  --butterbar-battery-icon-rgb: 241,92,109;
  --butterbar-battery-primary: #e9edef;
  --butterbar-battery-primary-rgb: 233,237,239;
  --butterbar-battery-secondary: #8696a0;
  --butterbar-battery-secondary-rgb: 134,150,160;
  --butterbar-connection-background: #182229;
  --butterbar-connection-background-rgb: 24,34,41;
  --butterbar-connection-primary: #e9edef;
  --butterbar-connection-primary-rgb: 233,237,239;
  --butterbar-connection-secondary: #8696a0;
  --butterbar-connection-secondary-rgb: 134,150,160;
  --butterbar-connection-icon: #ffbc38;
  --butterbar-connection-icon-rgb: 255,188,56;
  --butterbar-phone-icon-shape: #182229;
  --butterbar-phone-icon-shape-rgb: 24,34,41;
  --butterbar-fatal-background: #182229;
  --butterbar-fatal-background-rgb: 24,34,41;
  --butterbar-fatal-primary: #e9edef;
  --butterbar-fatal-primary-rgb: 233,237,239;
  --butterbar-fatal-secondary: #8696a0;
  --butterbar-fatal-secondary-rgb: 134,150,160;
  --butterbar-fatal-icon: #ffbc38;
  --butterbar-fatal-icon-rgb: 255,188,56;
  --butterbar-notice-background: #182229;
  --butterbar-notice-background-rgb: 24,34,41;
  --butterbar-notice-circle: #00a884;
  --butterbar-notice-circle-rgb: 0,168,132;
  --butterbar-notice-icon: #182229;
  --butterbar-notice-icon-rgb: 24,34,41;
  --butterbar-notice-smb-background: #182229;
  --butterbar-notice-smb-background-rgb: 24,34,41;
  --butterbar-notice-smb-circle: #00a884;
  --butterbar-notice-smb-circle-rgb: 0,168,132;
  --butterbar-notice-smb-icon: #182229;
  --butterbar-notice-smb-icon-rgb: 24,34,41;
  --butterbar-notification-icon: #53bdeb;
  --butterbar-notification-icon-rgb: 83,189,235;
  --butterbar-update-background: #182229;
  --butterbar-update-background-rgb: 24,34,41;
  --butterbar-update-icon: #00a884;
  --butterbar-update-icon-rgb: 0,168,132;
  --butterbar-green-nux-primary: #e9edef;
  --butterbar-green-nux-primary-rgb: 233,237,239;
  --butterbar-green-nux-secondary: #8696a0;
  --butterbar-green-nux-secondary-rgb: 134,150,160;
  --butterbar-green-nux-background: #182229;
  --butterbar-green-nux-background-rgb: 24,34,41;
  --butterbar-green-nux-icon: #182229;
  --butterbar-green-nux-icon-rgb: 24,34,41;
  --butterbar-green-nux-icon-background: #00a884;
  --butterbar-green-nux-icon-background-rgb: 0,168,132;
  --butterbar-green-nux-icon-dismiss: #8696a0;
  --butterbar-green-nux-icon-dismiss-rgb: 134,150,160;
  --butterbar-blue-nux-primary: #e9edef;
  --butterbar-blue-nux-primary-rgb: 233,237,239;
  --butterbar-blue-nux-secondary: #8696a0;
  --butterbar-blue-nux-secondary-rgb: 134,150,160;
  --butterbar-blue-nux-background: #182229;
  --butterbar-blue-nux-background-rgb: 24,34,41;
  --butterbar-blue-nux-icon: #182229;
  --butterbar-blue-nux-icon-rgb: 24,34,41;
  --butterbar-blue-nux-icon-background: #53bdeb;
  --butterbar-blue-nux-icon-background-rgb: 83,189,235;
  --butterbar-blue-nux-icon-dismiss: rgba(233,237,239,0.7);
  --butterbar-blue-nux-icon-dismiss-rgb: 233,237,239;
  --butterbar-md-opt-in-awareness-circle: #00a884;
  --butterbar-md-opt-in-awareness-circle-rgb: 0,168,132;
  --butterbar-md-opt-in-countdown-circle: #ffbc38;
  --butterbar-md-opt-in-countdown-circle-rgb: 255,188,56;
  --butterbar-md-opt-in-awareness-icon-path: #182229;
  --butterbar-md-opt-in-awareness-icon-path-rgb: 24,34,41;
  --butterbar-md-opt-in-countdown-icon-path: #182229;
  --butterbar-md-opt-in-countdown-icon-path-rgb: 24,34,41;
  --button-alternative: #53bdeb;
  --button-alternative-rgb: 83,189,235;
  --button-alternative-background: #172127;
  --button-alternative-background-rgb: 23,33,39;
  --button-background-disabled: hsla(0,0%,100%,0.1);
  --button-background-disabled-rgb: 255,255,255;
  --button-bubble: rgba(0,168,132,0.7);
  --button-bubble-rgb: 0,168,132;
  --button-plain-background: #2a3942;
  --button-plain-background-rgb: 42,57,66;
  --button-plain-background-hover: #3b4a54;
  --button-plain-background-hover-rgb: 59,74,84;
  --button-plain: #e9edef;
  --button-plain-rgb: 233,237,239;
  --button-plain-hover: #e9edef;
  --button-plain-hover-rgb: 233,237,239;
  --button-primary: #111b21;
  --button-primary-rgb: 17,27,33;
  --button-primary-background: #00a884;
  --button-primary-background-rgb: 0,168,132;
  --button-primary-background-hover: #06cf9c;
  --button-primary-background-hover-rgb: 6,207,156;
  --button-round-background: #00a884;
  --button-round-background-rgb: 0,168,132;
  --button-round-background-inverted: #2a3942;
  --button-round-background-inverted-rgb: 42,57,66;
  --button-round-icon-inverted: #00a884;
  --button-round-icon-inverted-rgb: 0,168,132;
  --button-disabled: hsla(0,0%,100%,0.4);
  --button-disabled-rgb: 255,255,255;
  --button-secondary: #00a884;
  --button-secondary-rgb: 0,168,132;
  --button-secondary-border: rgba(134,150,160,0.15);
  --button-secondary-border-rgb: 134,150,160;
  --button-secondary-background: transparent;
  --button-secondary-background-rgb: 0,0,0;
  --button-secondary-background-hover: rgba(233,237,239,0.05);
  --button-secondary-background-hover-rgb: 233,237,239;
  --button-secondary-hover: #06cf9c;
  --button-secondary-hover-rgb: 6,207,156;
  --cart-interstitial-background: #3a5564;
  --cart-interstitial-background-rgb: 58,85,100;
  --cart-interstitial-icon: #fff;
  --cart-interstitial-icon-rgb: 255,255,255;
  --chat-info-drawer-thumb-background: #2a3942;
  --chat-info-drawer-thumb-background-rgb: 42,57,66;
  --chat-marker: #aebac1;
  --chat-marker-rgb: 174,186,193;
  --chat-marker-border: #2a3942;
  --chat-marker-border-rgb: 42,57,66;
  --chat-marker-background: #2a3942;
  --chat-marker-background-rgb: 42,57,66;
  --chat-marker-admin: #aebac1;
  --chat-marker-admin-rgb: 174,186,193;
  --chat-marker-admin-border: #2a3942;
  --chat-marker-admin-border-rgb: 42,57,66;
  --chat-meta: #8696a0;
  --chat-meta-rgb: 134,150,160;
  --chatlist-icon: #8696a0;
  --chatlist-icon-rgb: 134,150,160;
  --checkbox-background: #00a884;
  --checkbox-background-rgb: 0,168,132;
  --checkbox-mark: #111b21;
  --checkbox-mark-rgb: 17,27,33;
  --chevron-button-background: rgba(233,237,239,0.35);
  --chevron-button-background-rgb: 233,237,239;
  --chip-button-background: #374043;
  --chip-button-background-rgb: 55,64,67;
  --chip-button-foreground: #d4dadf;
  --chip-button-foreground-rgb: 212,218,223;
  --compose-input-background: #2a3942;
  --compose-input-background-rgb: 42,57,66;
  --compose-input-background-focused: #335667;
  --compose-input-background-focused-rgb: 51,86,103;
  --compose-input-border: #2a3942;
  --compose-input-border-rgb: 42,57,66;
  --compose-input-border-focused: #355b6e;
  --compose-input-border-focused-rgb: 53,91,110;
  --compose-panel-background: #202c33;
  --compose-panel-background-rgb: 32,44,51;
  --compose-panel-background-hover: #121c23;
  --compose-panel-background-hover-rgb: 18,28,35;
  --compose-primary: #e9edef;
  --compose-primary-rgb: 233,237,239;
  --conversation-panel-background: #0b141a;
  --conversation-panel-background-rgb: 11,20,26;
  --conversation-panel-border: rgba(233,237,239,0.12);
  --conversation-panel-border-rgb: 233,237,239;
  --cover-image-background: #1f2b32;
  --cover-image-background-rgb: 31,43,50;
  --danger: #f15c6d;
  --danger-rgb: 241,92,109;
  --document-meta: hsla(0,0%,100%,0.6);
  --document-meta-rgb: 255,255,255;
  --drawer-background: #111b21;
  --drawer-background-rgb: 17,27,33;
  --drawer-background-deep: #0c1317;
  --drawer-background-deep-rgb: 12,19,23;
  --drawer-gallery-background: #111b21;
  --drawer-gallery-background-rgb: 17,27,33;
  --drawer-gallery-background-active: #0c1317;
  --drawer-gallery-background-active-rgb: 12,19,23;
  --drawer-gallery-background-hover: #0c1317;
  --drawer-gallery-background-hover-rgb: 12,19,23;
  --drawer-header-title: #d9dee0;
  --drawer-header-title-rgb: 217,222,224;
  --drawer-section-background: #111b21;
  --drawer-section-background-rgb: 17,27,33;
  --dropdown-background: #233138;
  --dropdown-background-rgb: 35,49,56;
  --dropdown-background-hover: #182229;
  --dropdown-background-hover-rgb: 24,34,41;
  --empty-state-background: #182229;
  --empty-state-background-rgb: 24,34,41;
  --empty-state-icon: #727a7e;
  --empty-state-icon-rgb: 114,122,126;
  --ephemeral-nux-background: rgba(6,207,156,0.15);
  --ephemeral-nux-background-rgb: 6,207,156;
  --ephemeral-nux-bubble: #00a884;
  --ephemeral-nux-bubble-rgb: 0,168,132;
  --ephemeral-nux-timer: #00a884;
  --ephemeral-nux-timer-rgb: 0,168,132;
  --focus: #53bdeb;
  --focus-rgb: 83,189,235;
  --focus-animation: rgba(83,189,235,0.26);
  --focus-animation-rgb: 83,189,235;
  --focus-animation-deeper: rgba(83,189,235,0.32);
  --focus-animation-deeper-rgb: 83,189,235;
  --focus-lighter: rgba(83,189,235,0.12);
  --focus-lighter-rgb: 83,189,235;
  --forwarded-indicator-text: hsla(0,0%,100%,0.6);
  --forwarded-indicator-text-rgb: 255,255,255;
  --highlight: #00a884;
  --highlight-rgb: 0,168,132;
  --icon: #8696a0;
  --icon-rgb: 134,150,160;
  --icon-ack: #53bdeb;
  --icon-ack-rgb: 83,189,235;
  --icon-disabled: #54656f;
  --icon-disabled-rgb: 84,101,111;
  --icon-fixed: #8696a0;
  --icon-fixed-rgb: 134,150,160;
  --icon-lighter: #8696a0;
  --icon-lighter-rgb: 134,150,160;
  --icon-search-back: #00a884;
  --icon-search-back-rgb: 0,168,132;
  --icon-strong: #aebac1;
  --icon-strong-rgb: 174,186,193;
  --icon-bright-accent: #00a884;
  --icon-bright-accent-rgb: 0,168,132;
  --icon-bright-highlight: #00a884;
  --icon-bright-highlight-rgb: 0,168,132;
  --icon-pinned: #8696a0;
  --icon-pinned-rgb: 134,150,160;
  --round-icon-background: #00a884;
  --round-icon-background-rgb: 0,168,132;
  --incoming-background: #202c33;
  --incoming-background-rgb: 32,44,51;
  --incoming-background-deeper: #1d282f;
  --incoming-background-deeper-rgb: 29,40,47;
  --incoming-background-highlight: #040607;
  --incoming-background-highlight-rgb: 4,6,7;
  --incoming-primary: #798287;
  --incoming-primary-rgb: 121,130,135;
  --input-border-active: #00a884;
  --input-border-active-rgb: 0,168,132;
  --input-border: #8696a0;
  --input-border-rgb: 134,150,160;
  --input-hover-background: #202c33;
  --input-hover-background-rgb: 32,44,51;
  --input-empty-value-placeholder: #00a884;
  --input-empty-value-placeholder-rgb: 0,168,132;
  --input-placeholder: #8696a0;
  --input-placeholder-rgb: 134,150,160;
  --input-button-more: #00a884;
  --input-button-more-rgb: 0,168,132;
  --intro-background: #222e35;
  --intro-background-rgb: 34,46,53;
  --intro-border: #008069;
  --intro-border-rgb: 0,128,105;
  --intro-logo: rgba(233,237,239,0.26);
  --intro-logo-rgb: 233,237,239;
  --intro-secondary: #8696a0;
  --intro-secondary-rgb: 134,150,160;
  --inverse: #e9edef;
  --inverse-rgb: 233,237,239;
  --label-secondary-text: rgba(241,241,242,0.6);
  --label-secondary-text-rgb: 241,241,242;
  --labels-icon: rgba(233,237,239,0.4);
  --labels-icon-rgb: 233,237,239;
  --label-disabled-text: #8696a0;
  --label-disabled-text-rgb: 134,150,160;
  --link: #53bdeb;
  --link-rgb: 83,189,235;
  --link-alt: #008069;
  --link-alt-rgb: 0,128,105;
  --link-preview: rgba(233,237,239,0.87);
  --link-preview-rgb: 233,237,239;
  --link-preview-light: rgba(233,237,239,0.3);
  --link-preview-light-rgb: 233,237,239;
  --link-preview-lighter: rgba(233,237,239,0.6);
  --link-preview-lighter-rgb: 233,237,239;
  --live-location-footer-background: rgba(17,27,33,0.9);
  --live-location-footer-background-rgb: 17,27,33;
  --live-location-glow: rgba(37,211,102,0.3);
  --live-location-glow-rgb: 37,211,102;
  --live-location-glow-stale: rgba(255,0,31,0.3);
  --live-location-glow-stale-rgb: 255,0,31;
  --location-cluster-background: #111b21;
  --location-cluster-background-rgb: 17,27,33;
  --map-overlay-background: rgba(17,27,33,0.6);
  --map-overlay-background-rgb: 17,27,33;
  --map-overlay-foreground: #e9edef;
  --map-overlay-foreground-rgb: 233,237,239;
  --media-editor-control: #fff;
  --media-editor-control-rgb: 255,255,255;
  --media-editor-image-caption-input-background: #2b3b45;
  --media-editor-image-caption-input-background-rgb: 43,59,69;
  --media-editor-video-caption-input-background: #2b3b45;
  --media-editor-video-caption-input-background-rgb: 43,59,69;
  --media-editor-icon-color: #aebac1;
  --media-editor-icon-color-rgb: 174,186,193;
  --media-editor-icon-secondary-color: #8696a0;
  --media-editor-icon-secondary-color-rgb: 134,150,160;
  --media-editor-thumb-border: rgba(241,241,242,0.1);
  --media-editor-thumb-border-rgb: 241,241,242;
  --media-editor-thumb-border-active: #00a884;
  --media-editor-thumb-border-active-rgb: 0,168,132;
  --media-gallery-thumb-background: #2a3942;
  --media-gallery-thumb-background-rgb: 42,57,66;
  --media-gallery-thumb-icon: #54656f;
  --media-gallery-thumb-icon-rgb: 84,101,111;
  --media-inner-border: hsla(0,0%,100%,0.1);
  --media-inner-border-rgb: 255,255,255;
  --media-viewer-background: rgba(17,27,33,0.98);
  --media-viewer-background-rgb: 17,27,33;
  --media-viewer-button-background: #222e35;
  --media-viewer-button-background-rgb: 34,46,53;
  --media-viewer-button-icon: #e9edef;
  --media-viewer-button-icon-rgb: 233,237,239;
  --menu-bar-item-background-active: hsla(0,0%,100%,0.1);
  --menu-bar-item-background-active-rgb: 255,255,255;
  --menu-context-sticker-icon: rgba(233,237,239,0.5);
  --menu-context-sticker-icon-rgb: 233,237,239;
  --menu-context-sticker-icon-inverse: rgba(32,44,51,0.5);
  --menu-context-sticker-icon-inverse-rgb: 32,44,51;
  --menu-tabs-list-active: #00a884;
  --menu-tabs-list-active-rgb: 0,168,132;
  --mention-at-symbol: #53bdeb;
  --mention-at-symbol-rgb: 83,189,235;
  --message-background-deep: rgba(11,20,26,0.35);
  --message-background-deep-rgb: 11,20,26;
  --message-placeholder-icon: rgba(209,215,219,0.3);
  --message-placeholder-icon-rgb: 209,215,219;
  --message-primary: #e9edef;
  --message-primary-rgb: 233,237,239;
  --message-selection-highlight: rgba(233,237,239,0.05);
  --message-selection-highlight-rgb: 233,237,239;
  --modal-backdrop: rgba(11,20,26,0.85);
  --modal-backdrop-rgb: 11,20,26;
  --modal-backdrop-solid: #111b21;
  --modal-backdrop-solid-rgb: 17,27,33;
  --modal-background: #3b4a54;
  --modal-background-rgb: 59,74,84;
  --notification-biz-background: #182229;
  --notification-biz-background-rgb: 24,34,41;
  --notification-biz-text: #55fad9;
  --notification-biz-text-rgb: 85,250,217;
  --notification-e2e-background: #182229;
  --notification-e2e-background-rgb: 24,34,41;
  --notification-e2e-icon: #ffd279;
  --notification-e2e-icon-rgb: 255,210,121;
  --notification-e2e-text: #ffd279;
  --notification-e2e-text-rgb: 255,210,121;
  --notification-info-icon: #42c7b8;
  --notification-info-icon-rgb: 66,199,184;
  --notification-non-e2e-background: #182229;
  --notification-non-e2e-background-rgb: 24,34,41;
  --notification-non-e2e-text: #42c7b8;
  --notification-non-e2e-text-rgb: 66,199,184;
  --notification-text: rgba(233,237,239,0.4);
  --notification-text-rgb: 233,237,239;
  --outgoing-background: #005c4b;
  --outgoing-background-rgb: 0,92,75;
  --outgoing-background-deeper: #025144;
  --outgoing-background-deeper-rgb: 2,81,68;
  --outgoing-background-highlight: rgba(2,78,65,0.7);
  --outgoing-background-highlight-rgb: 2,78,65;
  --overlay: #0b141a;
  --overlay-rgb: 11,20,26;
	--panel-background: #111b21;
  --panel-background-rgb: 17,27,33;
  --panel-background-active: #111a20;
  --panel-background-active-rgb: 17,26,32;
  --panel-background-colored: #202c33;
  --panel-background-colored-rgb: 32,44,51;
  --panel-background-colored-deeper: #202c33;
  --panel-background-colored-deeper-rgb: 32,44,51;
  --panel-background-deep: #0f191f;
  --panel-background-deep-rgb: 15,25,31;
  --panel-background-deeper: #101a20;
  --panel-background-deeper-rgb: 16,26,32;
  --panel-background-hover: #101a20;
  --panel-background-hover-rgb: 16,26,32;
  --panel-background-lighter: #101a20;
  --panel-background-lighter-rgb: 16,26,32;
  --panel-header-background: #202c33;
  --panel-header-background-rgb: 32,44,51;
  --panel-header-icon: #aebac1;
  --panel-header-icon-rgb: 174,186,193;
	--conversation-header-border: rgba(134,150,160,0.15);
  --conversation-header-border-rgb: 134,150,160;
  --panel-input-background: #222e35;
  --panel-input-background-rgb: 34,46,53;
  --panel-primary: rgba(233,237,239,0.35);
  --panel-primary-rgb: 233,237,239;
  --payment-amount: #009e7c;
  --payment-amount-rgb: 0,158,124;
  --payment-status-failed: #f15c6d;
  --payment-status-failed-rgb: 241,92,109;
  --payment-status-pending: rgba(233,237,239,0.45);
  --payment-status-pending-rgb: 233,237,239;
  --payment-status-success: #71eb85;
  --payment-status-success-rgb: 113,235,133;
	--popup-panel-background: #111b21;
  --popup-panel-background-rgb: 17,27,33;
  --primary-muted: #667781;
  --primary-muted-rgb: 102,119,129;
  --primary: #d1d7db;
  --primary-rgb: 209,215,219;
  --primary-strong: #e9edef;
  --primary-strong-rgb: 233,237,239;
  --primary-stronger: rgba(233,237,239,0.88);
  --primary-stronger-rgb: 233,237,239;
  --primary-strongest: #e9edef;
  --primary-strongest-rgb: 233,237,239;
  --primary-title: rgba(233,237,239,0.88);
  --primary-title-rgb: 233,237,239;
  --product-image-button-background: rgba(11,20,26,0.35);
  --product-image-button-background-rgb: 11,20,26;
  --product-placeholder-background: rgba(11,20,26,0.35);
  --product-placeholder-background-rgb: 11,20,26;
  --product-thumb-background: #111b21;
  --product-thumb-background-rgb: 17,27,33;
  --product-thumb-background-deeper: #1f313c;
  --product-thumb-background-deeper-rgb: 31,49,60;
  --product-thumb-overlay-background: rgba(11,20,26,0.5);
  --product-thumb-overlay-background-rgb: 11,20,26;
  --product-thumb-overlay-text: #e9edef;
  --product-thumb-overlay-text-rgb: 233,237,239;
  --progress-background: #233138;
  --progress-background-rgb: 35,49,56;
  --progress-primary: #0b846d;
  --progress-primary-rgb: 11,132,109;
  --poll-bar-container: rgba(11,20,26,0.2);
  --poll-bar-container-rgb: 11,20,26;
  --poll-bar-fill: #008069;
  --poll-bar-fill-rgb: 0,128,105;
	--quoted-message-text: hsla(0,0%,100%,0.6);
  --quoted-message-text-rgb: 255,255,255;
	--search-container-background: #111b21;
  --search-container-background-rgb: 17,27,33;
  --search-input-background: #202c33;
  --search-input-background-rgb: 32,44,51;
  --search-input-container-background: #111b21;
  --search-input-container-background-rgb: 17,27,33;
  --search-input-container-background-active: #111b21;
  --search-input-container-background-active-rgb: 17,27,33;
  --secondary: #8696a0;
  --secondary-rgb: 134,150,160;
  --secondary-light: #54656f;
  --secondary-light-rgb: 84,101,111;
  --secondary-lighter: #667781;
  --secondary-lighter-rgb: 102,119,129;
  --secondary-stronger: #d1d7db;
  --secondary-stronger-rgb: 209,215,219;
  --security-icon-background: #d3ede6;
  --security-icon-background-rgb: 211,237,230;
  --security-icon-lock: #1fc4b1;
  --security-icon-lock-rgb: 31,196,177;
  --security-icon-shield: #f0faf7;
  --security-icon-shield-rgb: 240,250,247;
	--shadow: #0b141a;
  --shadow-rgb: 11,20,26;
  --shadow-light: rgba(11,20,26,0.08);
  --shadow-light-rgb: 11,20,26;
  --spinner-default: #667781;
  --spinner-default-rgb: 102,119,129;
  --spinner-highlight: #00a884;
  --spinner-highlight-rgb: 0,168,132;
  --spinner-incoming: #5c666b;
  --spinner-incoming-rgb: 92,102,107;
  --spinner-outgoing: #46887c;
  --spinner-outgoing-rgb: 70,136,124;
  --startup-background: #111b21;
  --startup-background-rgb: 17,27,33;
  --startup-icon: #676f73;
  --startup-icon-rgb: 103,111,115;
  --status-background: #0b141a;
  --status-background-rgb: 11,20,26;
  --status-background-hover: #2c353a;
  --status-background-hover-rgb: 44,53,58;
  --status-primary: #fff;
  --status-primary-rgb: 255,255,255;
  --status-secondary: hsla(0,0%,100%,0.55);
  --status-secondary-rgb: 255,255,255;
  --status-secondary-stronger: #b6b9ba;
  --status-secondary-stronger-rgb: 182,185,186;
  --status-ring-read: #bbbec4;
  --status-ring-read-rgb: 187,190,196;
  --status-ring-unread: #008069;
  --status-ring-unread-rgb: 0,128,105;
  --status-thumbnail-background: #777;
  --status-thumbnail-background-rgb: 119,119,119;
  --status-link-preview-title: #111b21;
  --status-link-preview-title-rgb: 17,27,33;
  --status-link-preview-secondary: #667781;
  --status-link-preview-secondary-rgb: 102,119,129;
	--sticker-button-background: #26353d;
  --sticker-button-background-rgb: 38,53,61;
  --success: #71eb85;
  --success-rgb: 113,235,133;
	--suspicious-background: rgba(241,92,109,0.8);
  --suspicious-background-rgb: 241,92,109;
  --system-message-background: #182229;
  --system-message-background-rgb: 24,34,41;
  --system-message-text: #8696a0;
  --system-message-text-rgb: 134,150,160;
  --teal-hover: #00a884;
  --teal-hover-rgb: 0,168,132;
  --teal-pale: #60c6b1;
  --teal-pale-rgb: 96,198,177;
  --text-muted: #8696a0;
  --text-muted-rgb: 134,150,160;
  --thumb-border-active: #667781;
  --thumb-border-active-rgb: 102,119,129;
  --thumb-border-viewer-active: #667781;
  --thumb-border-viewer-active-rgb: 102,119,129;
  --toast-background: rgba(11,20,26,0.96);
  --toast-background-rgb: 11,20,26;
  --tooltip-text: #0b141a;
  --tooltip-text-rgb: 11,20,26;
  --tooltip-background: #fff;
  --tooltip-background-rgb: 255,255,255;
  --typing: #00a884;
  --typing-rgb: 0,168,132;
  --unread-background: #182229;
  --unread-background-rgb: 24,34,41;
  --unread-bar-background: rgba(11,20,26,0.6);
  --unread-bar-background-rgb: 11,20,26;
  --unread-timestamp: #00a884;
  --unread-timestamp-rgb: 0,168,132;
  --unread-marker-background: #00a884;
  --unread-marker-background-rgb: 0,168,132;
  --unread-marker-text: #111b21;
  --unread-marker-text-rgb: 17,27,33;
  --vcard-placeholder-background: rgba(233,237,239,0.04);
  --vcard-placeholder-background-rgb: 233,237,239;
  --vcard-placeholder-background-deeper: rgba(233,237,239,0.12);
  --vcard-placeholder-background-deeper-rgb: 233,237,239;
  --video-player-background: #0b141a;
  --video-player-background-rgb: 11,20,26;
  --pip-player-background: #233138;
  --pip-player-background-rgb: 35,49,56;
  --video-primary: #fff;
  --video-primary-rgb: 255,255,255;
  --voip-accept-background: #2ec452;
  --voip-accept-background-rgb: 46,196,82;
  --voip-background: #111b21;
  --voip-background-rgb: 17,27,33;
  --voip-background-deep: #0b141a;
  --voip-background-deep-rgb: 11,20,26;
  --voip-video-background: #242424;
  --voip-video-background-rgb: 36,36,36;
  --voip-controls-background: #2d2d2d;
  --voip-controls-background-rgb: 45,45,45;
  --voip-primary: #fff;
  --voip-primary-rgb: 255,255,255;
  --voip-alternative: #0b141a;
  --voip-alternative-rgb: 11,20,26;
  --voip-reject-background: #ff3b30;
  --voip-reject-background-rgb: 255,59,48;
  --voip-disabled-background: #222;
  --voip-disabled-background-rgb: 34,34,34;
  --wallpaper-background: #0b141a;
  --wallpaper-background-rgb: 11,20,26;
  --wallpaper-thumb-border-active: #667781;
  --wallpaper-thumb-border-active-rgb: 102,119,129;
  --wallpaper-thumb-border-hover: #3b4a54;
  --wallpaper-thumb-border-hover-rgb: 59,74,84;
  --win32-title-primary: #fff;
  --win32-title-primary-rgb: 255,255,255;
  --reactions-bubble-border: #111b21;
  --reactions-bubble-border-rgb: 17,27,33;
  --reactions-bubble-counter: rgba(241,241,242,0.6);
  --reactions-bubble-counter-rgb: 241,241,242;
  --reactions-details-background: #222e35;
  --reactions-details-background-rgb: 34,46,53;
  --reactions-tray-background: #222e35;
  --reactions-tray-background-rgb: 34,46,53;
  --reactions-details-background-hover: #2c3b45;
  --reactions-details-background-hover-rgb: 44,59,69;
  --reactions-tray-active-round-background: #3b4a54;
  --reactions-tray-active-round-background-rgb: 59,74,84;
  --reactions-picker-bg: #667781;
  --reactions-picker-bg-rgb: 102,119,129;
  --svg-gray-button: #222e36;
  --svg-gray-button-rgb: 34,46,54;
  --reactions-panel-background-color: #222e36;
  --reactions-panel-background-color-rgb: 34,46,54;
  --reactions-panel-search-background-color: hsla(0,0%,100%,0.1);
  --reactions-panel-search-background-color-rgb: 255,255,255;
  --reactions-search-color: #8696a0;
  --reactions-search-color-rgb: 134,150,160;
  --reactions-menu-tab-separator: rgba(134,150,160,0.15);
  --reactions-menu-tab-separator-rgb: 134,150,160;
  --text-primary-strong: #e9edef;
  --text-primary-strong-rgb: 233,237,239;
  --text-secondary-lighter: #8696a0;
  --text-secondary-lighter-rgb: 134,150,160;
  --text-medium-emphasis: #8696a0;
  --text-medium-emphasis-rgb: 134,150,160;
  --icon-medium-emphasis: #8696a0;
  --icon-medium-emphasis-rgb: 134,150,160;
  --icon-high-emphasis: #00a884;
  --icon-high-emphasis-rgb: 0,168,132;
  --switch-button-color: #83929d;
  --switch-button-color-rgb: 131,146,157;
  --switch-button-checked-color: #01a581;
  --switch-button-checked-color-rgb: 1,165,129;
  --switch-track-color: #334046;
  --switch-track-color-rgb: 51,64,70;
  --switch-track-checked-color: #0b463f;
  --switch-track-checked-color-rgb: 11,70,63;
  --announcement-speaker-background: #046a62;
  --announcement-speaker-background-rgb: 4,106,98;
  --announcement-speaker-fill: #42c7b8;
  --announcement-speaker-fill-rgb: 66,199,184;
  --qc-button-border: #2a3942;
  --qc-button-border-rgb: 42,57,66;
  --qc-button-border-active: #344651;
  --qc-button-border-active-rgb: 52,70,81;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background-color: initial;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.16);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255, 255, 255, 0.20);
}


.Toastify__toast {
  border-radius: 24px !important;
  max-width: 320px;
  margin-bottom: 3px !important;
}

.Toastify__toast-container {
  text-align: center;
}
